{% load static %}

<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>หน้าแรกของระบบ</title>
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
  <header>
    <h1>ยินดีต้อนรับสู่หน้าแรกของระบบ</h1>
  </header>
  <main>
    <p>softENG</p>
    <!-- ใช้ Django Template Tag สำหรับการเชื่อมโยงไปยัง page2 -->
    <a href="{% url 'page2' %}" class="button">ไปยังหน้าถัดไป</a>
  </main>
</body>
</html>
